<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

<button (click)="obter()"> novo access token</button>

    <!-- Icon -->
    <div class="fadeIn first">
     <h3>Login | JWT</h3> 
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" [(ngModel)] ="usuario"name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" [(ngModel)] ="password" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" (click)="login()"value="Log In">
    </form>

    {{ auth.jwtPayload | json}}
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>